{% extends "vercel_app/base.html" %}

{% block title %} Index {% endblock title %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="row g-3">

                <div class="col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header">Bienvenu sur mon site</div>
                        <div class="card-body">
                            <div>Aujourd'hui nous sommes le {{ date }}</div>
                            <div>Aujourd'hui nous sommes le {{ date|date:"d F Y H:i:s" }}</div>
                            <div>Aujourd'hui nous sommes le {{ date|date:"d F Y" }} et il est actuellement {{ date|date:"H\hi" }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">Card body</div>
                    </div>
                </div>

                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">Card body</div>
                    </div>
                </div>

                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">Card body</div>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock content %}